.box {
    flex-direction: column;
    margin: 10px;
    display: flex;
}
.empty  {
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty-text {
    font-size: 28px;
}