.area {
    margin: 0,auto;
    width: 1000px;
    flex-direction: column;
   
}
.ticketsArea {
    display: flex;
}
.filters{
    width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 20px 1px rgba(58, 244, 249, 0.3);
    height: 500px;
    justify-content: center;
    display: flex;
}